html,body{
	padding: 0;
	margin: 0;
	padding-bottom: 100px;
}
body{
	font-family: sans-serif;
}
#center {
  text-align: center;
}
#top {
  padding-top: 20px;
  vertical-align: top;
}
#bottom {
  vertical-align: bottom;
}