html,body{
	padding: 0;
	margin: 0;
	padding-bottom: 100px;
}
body{
	font-family: sans-serif;
}
.text-center {
  text-align: center;
}
.text-top {
  padding-top: 20px;
  vertical-align: top;
}
.text-bottom {
  vertical-align: bottom;
}
.text-middle {
  vertical-align: middle;
}
.border-blue {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  color: blue;
}